#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
data/
cfg/
build_log.txt
use_map
stopserver
reboot_called
atupdate
__pycache__

# ignore config, but not subdirs
!config/*/
config/*
sql/test_db
bin/byond.exe
bin/byondcore.dll
bin/byondext.dll
bin/ByondStub.dll
bin/byondwin.dll
bin/dm.exe
bin/dreamdaemon.exe
bin/dreamdeploy.exe
bin/dreammaker.exe
bin/dreamseeker.exe
bin/fmodex.dll
bin/mfc120u.dll
bin/msvcp120.dll
bin/msvcr120.dll
bin/npbyond.dll
bin/trace.bat
